@font-face {
  font-family: 'Cafe24Shiningstar';
  src:
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Cafe24Shiningstar', sans-serif;
}
